#detailimage {
    border: solid black;
    height: 300px;
    width: 400px; 
}

#preparation {
    width: 500px;
    display: block;
}

#title{
    text-align: center;
}

#ingredientscreen{
    border: solid grey;
    width: 400px;
    padding: 30px;
    float: right;
}

#DishDetails {
    padding-right: 50px;
    display: block;
}

#totalprice {
    border: solid grey;
    width: 150px;
    padding: 10px;
}

button {
    background-color: orange;
    font-size: 15px;
    padding: 10px;
}

th {
    padding: 8px;
    
}
table {
    width:100%;
    text-align: left;
}

#row{
display: flex;
}
