#image {
    height: 200px;
    width: 200px;   
    border: solid black;
}

#dish {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: inline-block;
}

p {
    width: 200px;
}
